.nav-link {
    color: #fff;
}

.about-section {
    padding: 200px 50px 500px 50px;
    text-align: center;
    background-color: #101935;
    color: white;
}

.about-section p1 {
    color: #f9c80e;
} 