.nav-link {
    color: #fff;
}

.contact-section {
    padding: 200px 50px 500px 50px;
    text-align: center;
    background-color: #101935;
    color: white;
}

.contact-section h2 {
    text-align: left;
    font-size: 24px;
    margin-top: 150px;
}

.contact-section p {
    margin-top: 25px;
}

.team {
    text-align: left;
}

.team h1 {
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
}

.contact-section p2 {
    color: #f9c80e;
}

a{
    color: white;
}