@import "colors.css";
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

.jobs__wrapper {
    margin: 2rem auto 3rem auto;
    width: 80%;
    min-height: 60vh;
    background-color: var(--white);
}

.jobs__heading {
    text-align: center;
    padding: 2rem;
}

.job {
    width: 80%;
    padding: 2rem;
    margin: 1.5rem auto;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
    transition: 0.4s ease-in;
}


/* .job:hover {
    background: #101935;
    box-shadow: 20px 20px 78px #0d152b, -20px -20px 78px #131e3f;
    color: var(--light-blue);
}

.job:hover .job__view-button {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.job:hover .job__view-button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
} */

.job__view-button {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.job__view-button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.job__title {
    font-weight: 600;
}

.job__view-button {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-weight: 600;
}

@media (max-width: 768px) {
    .jobs__wrapper {
        width: 100%;
    }
}