{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/hm-job-applicants.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hyre - jobs applicants</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="/">
            <img class="header-logo img-fluid" src="{% static 'images/hyrehyre_black.png' %}" alt="">
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="{% url 'dashboard' username=user.username %}">Dashboard</a>
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="jobs__wrapper container-fluid">
        <h3 class="heading jobs__heading text-brand-yellow">Job</h3>
        <div class="job">
            <h5 class="job__title">{{ job.title }}</h5>
            <p class="job__company">{{ job.des }}</p>
        </div>
    </div>

    <h3 class="heading jobs__heading text-brand-yellow">Job Applicants</h3>
    {% if applications %}
    <!-- In case there are no applicants, then still display the applicants__wrapper, otherwise the footer gets broken -->
    <div class="applicants__wrapper">
        
        {% for application in applications %}
        <div class="applicant">
            <h5 class="applicant__title">{{ application.candidate }}</h5>
            <a href="{% url 'profile' username=application.candidate.username %}" class="btn applicant__view-button">View Profile</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h4 class="no-applicants-message"><p>No applications yet!</p></h4>
    {% endif %}
{% endblock %}