{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/create-job.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<title>hyre - Create Job</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="/">
            <img class="header-logo img-fluid" src="{% static 'images/hyrehyre_black.png' %}" alt="">
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="{% url 'dashboard' username=user.username %}">Dashboard</a>
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="create__wrapper">
        <h1 class="text-center mt-4 text-brand-dark-blue text-bold">Create Job</h1>
        <p class="lead text-center text-dark">Enter job details</p>
        <div class="row justify-content-center min-vh-100 px-3">
            <div class="col-lg-3 col-md-9 col-sm-12 m-auto">
                <form class="d-flex flex-column justify-content-center" method="POST">
                    {% csrf_token %}
                    <div class="form-group text-brand-dark-blue">
                        <label for="name">Job Title</label>
                        <input type="text" class="form-control text-dark" id="name" name="{{ form.title.name }}">
                    </div>

                    <div class="form-group text-brand-dark-blue">
                        <label for="skills">Skills Required</label>
                        <small id="skills" class="form-text text-muted">
                            Enter skills as comma(.) separated values
                        </small>
                        <textarea class="form-control text-white" id="bio" rows="10" name="{{ form.des.name }}"></textarea>
                    </div>

                    <select name="{{ form.company.name }}" required id="id_user" hidden>
                        <option value="{{ form.company.value }}" selected></option>
                    </select> 

                    <select name="{{ form.posted_by.name }}" required id="id_user" hidden>
                        <option value="{{ form.posted_by.value }}" selected></option>
                    </select> 

                    <button type="submit" class="btn btn-primary align-self-center">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}