{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/hm-dashboard.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>hyre - hm dashboard</title>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/">
        <img class="header-logo img-fluid" src="{% static 'images/hyrehyre_black.png' %}" alt="">
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
<div class="container-fluid top-section">
    <div class="row buttons-section">
        <a href="{% url 'create-job' %}" class="btn create-job">Create a Job</a>
        <a href="{% url 'posted-jobs' %}" class="btn posted-jobs">View Posted Jobs</a>
    </div>
    <div class="search-section">
        <form method="POST">
        {% csrf_token %}
        <input type="search" name="search" placeholder="search">
        </form>
    </div>
</div>
{% if dev or usernames %}
<div class="jobs__wrapper container-fluid">
    <h3 class="heading jobs__heading text-brand-yellow">Results</h3>
    {% if dev %}
    <div class="job">
        <h5 class="job__title">{{ dev.0.username }}</h5>
        <a href="{% url 'profile' username=dev.0.username %}" class="btn job__view-button">View</a>
    </div>
    {% endif %}
    {% if usernames %}
    {% for username in usernames %}
    <div class="job">
        <h5 class="job__title">{{ username }}</h5>
        <a href="{% url 'profile' username=username %}" class="btn job__view-button">View</a>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
{% endblock %}