{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="left-item ">
                <h1 class="text-white">
                    In and far on have seven forwards,<span class="text-primary">in luxury.</span> This
                </h1>
                <button class="btn btn-warning">get hired</button>
            </div>
            <div class="right-item">
                <img src="{% static 'images/undraw_hiring_cyhs.svg' %}" alt="Image of papers">
            </div>
        </div>
        <div class="carousel-item">
            <div class="right-item">
                <img src="{% static 'images/undraw_file_searching_duff.svg' %}" alt="Image of papers">
            </div>
            <div class="left-item">
                <h1 class="text-white">
                    Find the <span class="text-primary">perfect candidate</span> you’re looking for
                </h1>
            </div>
        </div>

    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>
<div class="why-hyre-section section">
    <div class="card col-lg-9 mx-auto">
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center py-4">Why <span class="text-blue font-weight-bold">hyre</span></h3>
            </div>
            <div class="card-text col-lg-8 mx-auto text-justify"> Hyre is one of the few platforms that combine the features to showcase an applicant's work as well as an integrated hiring.
                Hyre provides a unified hiring as a service platform which unlike the rest offers people working in the tech industry a profile to showcase 
                themselves .Hyre eliminates the redundancy in applications and makes the hiring process more efficient </div>
            <div class="col-lg-8 row my-5 mx-auto row-cols-lg-3 row-cols-1 justify-content-center">
                <div class="col">
                    <img src="{% static 'images/bxs-chat.svg' %}" alt="" class="img mx-auto d-block p-4">
                    <p>Get noticed and get <b>hyred</b> by the best companies</p>
                </div>
                <div class="col">
                    <img src="{% static 'images/bx-slider-alt.svg' %}" alt="" class="img mx-auto d-block p-4">
                    <p>Showcase and develop yourselves to become the best</p>
                </div>
                <div class="col">
                    <img src="{% static 'images/bxs-check-circle.svg' %}" alt="" class="img mx-auto d-block p-4">
                    <p>Your dream job is just one click away! Get <b>hyred</b> now</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}