{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>hyre - Login</title>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/">
        <img class="header-logo img-fluid" src="{% static 'images/hyrehyre_black.png' %}" alt="">
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
<div class="container-fluid form-container min-vh-100">
        <div class="row justify-content-center min-vh-100">
            <div class="col-lg-3 col-md-9 col-sm-12 m-auto">
                <h1 class="text-center mt-4 text-brand-light-blue">Login</h1>
                <p class="lead text-center text-light">Enter your details</p>
                
                <form class="d-flex flex-column justify-content-center" method="POST">
                    {% csrf_token %}
                    <div class="form-group form text-primary">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="{{ form.username.name }}" {% if form.username.field.required %}required{% endif %}>
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group text-primary">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="{{ form.password.name }}" {% if form.password.field.required %}required{% endif %}>
                    </div>

                    <button type="submit" class="btn btn-primary align-self-center">Login</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
