{% extends 'base.html' %}
{% load static %}


    {% block head %}
    <title>hyre - profile</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="/">
            <img class="header-logo img-fluid" src="{% static 'images/hyrehyre_black.png' %}" alt="">
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
               {% if auth_user.type == 'DEV' %}
               <a class="nav-link" href="{% url 'job-list' %}">Jobs</a>
               <a class="nav-link" href="{% url 'applications' %}">Applied</a>
               <a class="nav-link" href="{% url 'logout' %}">Logout</a>
               {% elif auth_user.type == 'HR' %}
               <a class="nav-link" href="{% url 'posted-jobs' %}">Posted Jobs</a>
               <a class="nav-link" href="{% url 'logout' %}">Logout</a>
               {% else %}
               <a class="nav-link" href="{% url 'login' %}">Login</a>
               <a class="nav-link" href="{% url 'signup' %}">Signup</a>
               {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="hero">
        <div class="hero__left row">
            <div class="profile__wrapper mx-auto">
                <div class="profile mx-auto">
                    <img src="{% static 'images/avataaars.svg' %}" alt="profile-pic">
                    <h3 class="profile__heading text-center">Profile</h3>
                    <div class="container w-75">
                        <div class="row mx-6">
                            <div class="col-6 text-left">
                                <p class="profile__text profile__text--left">Name</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="profile__text profile__text--right">{{ user_base.name }}</p>
                            </div>
                        </div>
                        <div class="row mx-6">
                            <div class="col-6 text-left">
                                <p class="profile__text profile__text--left">City</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="profile__text profile__text--right">{{ bio.city }}</p>
                            </div>
                        </div>
                        <div class="row mx-6">
                            <div class="col-6 text-left">
                                <p class="profile__text profile__text--left">Country</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="profile__text profile__text--right">{{ bio.country }}</p>
                            </div>
                        </div>
                        <div class="row mx-6">
                            <div class="col-6 text-left">
                                <p class="profile__text profile__text--left">Age</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="profile__text profile__text--right">{{ bio.age }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__right row">
            <div class="bio__wrapper">
                <h3 class="bio__heading text-brand-yellow">Bio</h3>
                <p class="bio__paragraph text-brand-white">{{ bio.bio }}</p>
            </div>
            <div class="skills__wrapper">
                <h3 class="skills__heading text-brand-yellow">Skills</h3>
                <div class="skills">
                    {% for skill in skills %}
                    <span class="badge badge-pill">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="skills__wrapper">
                <h3 class="skills__heading text-brand-yellow">Vouches</h3>
                <div class="skills">
                    {% if vouches %}
                    {% for vouch in vouches %}
                    <span class="badge text-brand-white">{{ vouch.vouched_by }}</span>
                    {% endfor %}
                    {% else %}
                    <span class="badge text-brand-white">No vouches yet!</span>
                    {% if auth_user.type == 'HR' %}
                        {% if auth_user.username not in vouched_hrs %}
                        <a href="{% url 'vouch' username=user_base.username %}" class="btn project__view-button">Vouch</a>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="projects__background section">
        <div class="projects">
            <h1 class="projects__heading">Projects</h1>
            {% if projects %}
            {% for project in projects %}
            <div class="project">
                <h5 class="project__heading">{{ project.name }}</h5>
                <p class="project__paragraph">{{ project.desc  }}</p>
                <a href="{{ project.link }}" class="btn project__view-button">View</a>
            </div>
            {% endfor %}
            {% else %}
            <div class="project">
                <h2>No Projects Yet!</h2>
            </div>
            {% endif %}
            {% if auth_user.type == 'DEV' and  auth_user.username == user_base.username %}
            <a href="{% url 'add-project' %}" class="project__add-btn">
                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}